.box{
    height: 7vw;
    width: 7vw;
    background-color: #f6f6f6;
    padding: 5%;
}
.image-side{
    height: 25vh;
    width:10vw;
}
.box-image{
    padding: 5%;
    height:100%;
    max-width: 100%;
    background-color: #f6f6f6;
    align-self: center;
}
.bold{
    font-weight: bold;
}