.CarouselElement{
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  height:26vh;
  max-height: 26vh;
  border-color: rgba(48, 48, 48, 0.52);
  border-width: 4px;
  border-style: solid;
  overflow: hidden;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
}
.image{
  display: flex;
  padding-top: 1vh;
  flex-direction: column;
  mix-blend-mode: multiply;
  max-height: 19vh;
  width: auto;
  height: auto;
 }