.CarouselElement{
  display: flex;
  flex-direction: column;
  background: transparent;
height:23vh;
  max-height: 23vh;
  border-color: rgba(48, 48, 48, 0.52);
  border-width: 4px;
  border-style: solid;

}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
  background: transparent;
}
.image{
  display: flex;
  padding-top: 1vh;
  flex-direction: column;
  mix-blend-mode: multiply;
  background-color: transparent;
  max-height: 19vh;
  width: auto;
  height: auto;
 }